@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    
}

/* -----header section---- */

header{
background-color: #264653;
}
header p{
    font-size: 16px;
    font-weight: 300;

}
header h1{
    font-size: 48px;
    font-weight: 600; 
}
header .mod-btn{
    background: #E76F51;
    
}

/* -----Featured bike----- */


.gray{
    filter: grayscale(100%);
}

/* ------client section----- */


span{
    color: #E76F51;
}
.icon-1{
    color:#E76F51 ;
}
.icon-2{
   
   color: #E76F51;
}
.client-img{
    height:149px ;
    width: 149px;
 object-fit: contain;
}
